/*styles go here*/
p {
  color: black;
  font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
  font-family: 'Merriweather', "Times New Roman", serif;
  color: black;
  background-color: #c2c2d6;
  font-style: italic;
}

.container {
  width: 80%; /* Must define a width to use margin*/
  margin: 0 auto;
  color: #e0e0eb
}

#nav {
  list-style-type: none;
  padding: 0;
}

#nav li {
  width: 100%;
  margin: 0;
  padding: 0;
}

#nav a:link, #nav a:visited{
  text-decoration: none;
  color: #ffffff;
  background-color: #42d9f4;
  font-weight: bold;
  text-align: center;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  padding: 4px;
}

#nav a:hover, #nav a:active {
  background-color: #41b8f4;
}

#footer {
  color: black;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 0.8em;
  border-top: 2px solid black;
  background-color: #c2c2d6;
}

img {
  border: none;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: #00b8e6;
}

a:visited {
  color: #005266;
}
