/*styles go here*/
body {
  margin: 0;
}

p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
}

h1 {
  font-family: 'Merriweather', "Times New Roman", serif;
  color: black;
  background-color: #c2c2d6;
  font-style: italic;
  font-size: 2em;
}

.navigation {
  list-style: none;
  margin: 0;
  background: #42d9f4;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.navigation a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid black;
  font-family: 'Open Sans', Arial, sans-serif;
}

.navigation li:last-of-type a {
  border-bottom: none;
}

article {
  flex: 1 100%;
  padding: 10px;
}

#footer {
  color: black;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 0.8em;
  border-top: 2px solid black;
  background-color: #c2c2d6;
}

img {
  border: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 800px) {
  .navigation {
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  .navigation a{
    border: none;
  }

  .navigation a:hover {
    background: black;
  }

  .pic {
    width: 40%;
    margin-left: 10px;
  }

  .content {
    width: 45%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-left: 10px;
  }

  article {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex: 3 0px
  }

}
